div {
  height: 1000px;
  width: 500px;
  background-color: blue;
}
h1 {
  color: white
}
.section1 {
  color: yellow
}


#container{
    width:200px;
    height:200px;
    position:relative;
    border:1px solid black;
}
.box{
    border:1px solid red;
    position:absolute;
    width:20px;
    height:20px;    
}
