h1 {
  text-align: center;
  color: white

}
body {
  background-color: black;
}
p {
  text-align: center
}
section.inner-text{
  position: absolute;
  left: 30%;
  width: 50%;
  height: 40%;
}
hr.thiccc{
  width: 200px;
  height: 10px;
  background: grey
}

#outer{
  position:fixed;
  top:30%;
  left:40%;
  height:58%;
  width: 59%;
  background: #0000cc;
    border: 1px solid white

  }
#inner{
  width: 98%;
  height: 63%;
  margin: 0 auto;
  position: relative;
  background:white;
  text-align: center;
  border: 5px solid black
  }
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 244px auto;
    float: right;
    padding: 5px;
    width: 150px;
}