h1 {
  text-align: center;
  color: white

}


#outer{
			position:fixed;
			top:0;
			left:0;
			widows: 50%;
      height:50%;
      background: blue
		}
		#inner{
			width: 50%;
			height: 50%;
			margin: 0 auto;
			position: relative;
			background:white;
		}
